version: '3.8'

services:
  normal_node:
    build: .                # uses the Dockerfile in the root
    container_name: sensor-1
    command: python normal_node/main.py  # specific script for this node
    cap_add: ['NET_ADMIN']  # permission to spoof packets :D
    networks:
      iot_net:
        ipv4_address: 172.20.0.11
    environment:
      - PYTHONUNBUFFERED=1  # shows logs immediately

  attacker:
    build: .
    container_name: bad-actor
    command: python attacker/attack.py
    cap_add: ['NET_ADMIN']
    networks:
      iot_net:
        ipv4_address: 172.20.0.66
    environment:
      - PYTHONUNBUFFERED=1

  ids:
    build: .
    container_name: root-ids
    # we will set the command later when the defense is ready. For now, just keep it running.
    # change it when implementing part B
    command: tail -f /dev/null 
    cap_add: ['NET_ADMIN']
    networks:
      iot_net:
        ipv4_address: 172.20.0.100
    environment:
      - PYTHONUNBUFFERED=1

networks:
  iot_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/24