version: '3.8'

services:
## Each service represents a container in the Docker environment.
## Normal nodes simulate regular IoT devices.
  node_1:
    build: .               
    container_name: sensor-1
    command: python normal_node/main.py 
    cap_add: ['NET_ADMIN']  
    networks:
      iot_net:
        ipv4_address: 172.20.0.11
    environment:
      - PYTHONUNBUFFERED=1
      - BASE_RANK=3
      - NODE_ID=1
      - MY_IP=172.20.0.11
    volumes:
      - ./logs:/app/logs
  node_2:
    build: .               
    container_name: sensor-2
    command: python normal_node/main.py 
    cap_add: ['NET_ADMIN']  
    networks:
      iot_net:
        ipv4_address: 172.20.0.12
    environment:
      - PYTHONUNBUFFERED=1 
      - BASE_RANK=4
      - NODE_ID=2
      - MY_IP=172.20.0.12
    volumes:
      - ./logs:/app/logs
      
  node_3:
    build: .               
    container_name: sensor-3
    command: python normal_node/main.py 
    cap_add: ['NET_ADMIN']  
    networks:
      iot_net:
        ipv4_address: 172.20.0.13
    environment:
      - PYTHONUNBUFFERED=1  
      - BASE_RANK=5
      - NODE_ID=3
      - MY_IP=172.20.0.13
    volumes:
      - ./logs:/app/logs
  node_4:
    build: .               
    container_name: sensor-4
    command: python normal_node/main.py 
    cap_add: ['NET_ADMIN']  
    networks:
      iot_net:
        ipv4_address: 172.20.0.14
    environment:
      - PYTHONUNBUFFERED=1  
      - BASE_RANK=6
      - NODE_ID=4
      - MY_IP=172.20.0.14
    volumes:
      - ./logs:/app/logs

## Attacker simulates a malicious actor.
  flood_attacker:
    build: .
    container_name: flood-attacker
    command: python attacker/flood_attack.py
    cap_add: ['NET_ADMIN']
    networks:
      iot_net:
        ipv4_address: 172.20.0.66
    environment:
      - PYTHONUNBUFFERED=1
      - MY_IP=172.20.0.66
    volumes:
      - ./logs:/app/logs

  neighbor_attacker:
    build: .
    container_name: neighbor-attacker
    command: python attacker/neighbor_attack.py
    cap_add: ['NET_ADMIN']
    networks:
      iot_net:
        ipv4_address: 172.20.0.67
    environment:
      - PYTHONUNBUFFERED=1
      - MY_IP=172.20.0.67
    volumes:
      - ./logs:/app/logs
# The IDS monitors network traffic for anomalies.
  ids:
    build: .
    container_name: root-ids
    command: python ids/ids.py
    privileged: true
    cap_add: ['NET_ADMIN']
    networks:
      iot_net:
        ipv4_address: 172.20.0.100
    environment:
      - PYTHONUNBUFFERED=1
    volumes:
      - ./logs:/app/logs

networks:
  iot_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/24